#reset {
  background: #ecedf0;
}
.logo {
  width: 70%;
  height: auto;
}
.reset__title {
  position: relative;
}
.reset__form {
  border-top: 5px solid #0088cc;
  border-top-left-radius: 5px;
  padding: 3rem;
}
.title-fixed {
    background: #0088CC;
    padding:10px;
    border-radius: 6px 6px 0 0;
    color:white;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
  }
